
.jumbotron {
    background-color: #E25DCC;
    color: black;
    padding: 60px 0px 3px 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;

}

footer {
    padding: 10px 10px 0 10px;
    background-color: #E25DCC;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-ditutti {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}

.btn-ver {
    width: 100%;
}

a {
    color: black;
}

.card-index{

    width: 18rem;
    margin-top: 30px;
    margin-right: 4px;
    margin-bottom: 30px;
    margin-left: 4px;

}

.card-title{
    text-align: center;
}

.display-4{
    font-size: 3rem;
}

.img-banner{
    margin-top: 0px;
    margin-right: 4px;
    margin-bottom: 00px;
    margin-left: 4px;
    padding: 0px 4px, 0px, 4px;
}

.card-body-index{
    height: 3rem;
}

.card-title-index{
    height: 4rem;
}

.carousel{
    margin: 20px 0px 20px 0px;
}

.card-presentacion{
    border:0px;
}

.tab-pane{
    padding: 40px 0px 30px 0px;
}