.jumbotron {
  background-color: #f542ce;
  color: black;
  padding-top: 60px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

footer {
  background-color: #f542ce;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

.card-ditutti {
  flex: 1 150px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding: 2px 5px 2px 5px; }

.btn-ver {
  width: 100%; }

a {
  color: black; }

.card-index {
  width: 18rem;
  margin-top: 30px;
  margin-right: 4px;
  margin-bottom: 30px;
  margin-left: 4px; }

.card-title {
  text-align: center; }

.display-4 {
  font-size: 3rem; }

.img-banner {
  margin-top: 0px;
  margin-right: 4px;
  margin-bottom: 0px;
  margin-left: 4px;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 4px; }

.card-body-index {
  height: 3rem; }

.card-title-index {
  height: 4rem; }

.carousel {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px; }

.card-presentacion {
  border: 0px; }

.tab-pane {
  padding-top: 40px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px; }
