$purple: #f542ce;
$yellow: #e6e35c;
$red: #f03551;
$green: #28eb62;

@mixin margenes($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin  padding($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron {
    background-color: $purple;
    color: black;
    @include padding(60px,0px,3px,0px);
    @include margenes(0px,0px,0px,0px);
}

footer {
    background-color: $purple;
    @include padding(10px,10px,0px,10px);
    @include margenes(20px,0px,0px,0px);
}

.card-ditutti {
    flex: 1 150px;
    @include padding(2px,5px,2px,5px);
    padding: 2px 5px 2px 5px;
}

.btn-ver {
    width: 100%;
}

a {
    color: black;
}

.card-index{

    width: 18rem;
    @include margenes(30px,4px,30px,4px);
}

.card-title{
    text-align: center;
}

.display-4{
    font-size: 3rem;
}

.img-banner{
    @include margenes(0px,4px,0px,4px);
    @include padding(0px,4px,0px,4px);
}

.card-body-index{
    height: 3rem;
}

.card-title-index{
    height: 4rem;
}

.carousel{
    @include margenes(20px,0px,20px,0px);
}

.card-presentacion{
    border:0px;
}

.tab-pane{
    @include padding(40px,0px,30px,0px);
}